/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

#custom-document-gallery {
	width: 100%;
	margin: 30px auto;
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: start;
}

.document_media {
	text-align: center;
	width: 90%;
}